*.png
Bloque 5/Deep Learning/.vs/VSWorkspaceState.json
Bloque 5/Deep Learning/.vs/Deep Learning/CopilotIndices/17.13.444.19527/CodeChunks.db
Bloque 5/Deep Learning/.vs/Deep Learning/CopilotIndices/17.13.444.19527/SemanticSymbols.db
Bloque 5/Deep Learning/.vs/Deep Learning/FileContentIndex/71c156e7-1b0c-401b-9583-1751f84c305c.vsidx
Bloque 5/Deep Learning/.vs/Deep Learning/v17/.wsuo
Bloque 5/Deep Learning/.vs/Deep Learning/v17/DocumentLayout.json
Bloque 5/Deep Learning/.vs/slnx.sqlite
Bloque 7/Spark/Proyecto final/Datos calidad aire/Datos streaming/*